/**
Facebook Landing Page Stylesheet
Written By: Charles Harris III
**/

/* 
Section: Body CSS
Purpose: Make changes to the body of the page.
*/

/* Resets all margin and padding to zero so all elements can be resized appropriately. */
* {
    margin: 0;
    padding: 0;
}

/* Change the body background color of page. */
body {
    background-color: #f7f7f8;
}

/* 
Section: Header/Footer CSS
Purpose: styles the header, footer and content inside of them. 
*/
/* The main container holding the content inside the header/footer. */
.header-footer-container {
    background-color: #fff;
    display: flex;
    align-items: center;
    width: 100%;
    height: 5%;
}

/* The fake footer links */
.footer-fake-links{
    font-family: "Open Sans", "sans-serif";
    font-size: 0.8rem;
    color:#444950;
    margin-left: 5%;
}

/* Copyright */
.footer-copyright{
    font-family: "Open Sans", "sans-serif";
    font-size: 0.8rem;
    color:#444950;
    margin-left: 37.5%;
}

/* Logo (image) */
.fb-logo {
    width: 56px;
    height: 56px;
    margin-left: 5%;
    margin-top: .5%;
    margin-bottom: .5%;
}

/* Logo (typography) */
.fb-name-logo {
    font-family: 'Poppins', sans-serif;
    color: #444950;
    font-size: 1.563rem;
    text-align: center;
    margin-left: .5%;
}
/* end - Header/Footer CSS */


/* 
Section: Main CTA Container 
Purpose: holds main CTA and supporting video
*/
/* Main intro container - holds both containers for CTA, video */
.main-cta-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    height: 60%;
    background-color:#1877E9;
}

/* Call to action container - contains text, button */
.call-to-action-container {
    width: 500px;
    height: 500px;
    background-color:#1877E9;;
    display: flex;
    flex-direction: column;
}

/* Holds text giving summary of the company */
.call-to-action-explanation-container {
    width: 100%;
    height: 250px;
    background-color:#1877E9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles div with brief summary of what Facebook does */
.call-to-action-explanation-paragraph{
    padding: 3.5%;
    line-height: 27.5px;
}

/* CTA - main headline */
.cta-main-headline {
    font-size: 3.052rem;
    /* margin-top: 3%; */
    padding-top: 5%;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

/* CTA - subheadline */
.cta-subheadline {
    font-size: 1.25rem;
    margin: 3% 0%;
    font-family: "Open Sans","sans-serif";
    color: #fff;
}

/* Style for the call-to-action button */
.cta-button {
    color:#1877E9;
    border: none;
    background-color: #fff;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    letter-spacing: .5px;
    font-size: 16px;
    font-family: "Poppins","sans-serif";
    transition: 0.25s;
    width: 50%;
}

/*Change CTA button background when it's hovered over */
.cta-button:hover{
    background-color:#E8E8E8;
}

/* Intro video */
.intro-video-container {
    width: 500px;
    height: 500px;
    background-color:#1877E9;;
    margin: 20px;
}

/* Makes the intro video responsively sized */
.intro-video {
    max-width: 100%;
    height: auto;
    margin-top: 119px;
}
/* end - Main Introduction Container */

/* 
Section: App ecosystem container 
Purpose: holds the heading and icons of facebook app ecosystem 
*/
/* Container for the app icons */
.app-news-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 100%;
    height: 50%;
    background-color: #f7f7f8;

}

/* App ecosystem container - customizes the divs holding Facebook-owned app logos */
.app-news-logo-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #f7f7f8;
    margin: 2.5%;
}

/* Holds the app logos */
.app-news-logo {
    width: 84px;
    height: 84px;
    /* margin-bottom: 30px; */
    color:#fdfdfd;
}

/* App ecosystem headline */
.app-news-heading {
    text-align: center;
    margin: 30px 10px;
    font-family: "Poppins","sans-serif";
    color: #444950;
}
/* end - App ecosystem container */

/* Features container */
.features-container {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 100%;
    height: 50%;
    /* background-color: #f7f7f8; */
    background-color: #fff;
}

/* Customizes the divs holding feature infographics */
.features {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 500px;
    margin: 75px 25px;
}

/* Give information for each feature */
.features-information {
    font-family: "Open Sans", "sans-serif";
    font-size: 1rem;
    color: #444950;
    padding: 5px;
    margin: 5px;
}

/* Name of feature */
.features-name {
    text-align: center;
    font-size: 1.563rem;
    color:#1877E9;;
    margin: 5px;
    font-family: "Poppins","sans-serif";
}

/* The vector icons for the features */
.features-icons {
    width: 225px;
    height: 225px;
    margin: 25px;
}
/* end - Features container CSS */

/*
Testimonials Container CSS
Purpose: customize the CSS for the testimonials
*/
/* The section that holds the testimonials */
.testimonials-container{
    width: 100%;
    height: 999px; /* Must be px, not %. Not sure why but it fixes the error of the entire div not showing */
    display: flex;
    flex-direction: column;
}

/* Each person's testimonial -> picture + quote  */
.testimonials-user{
    width: 100%;
    height: 333px;
    display: flex;
    flex-direction: row;
}

/* Reverses the  direction of the middle testimonial */
.testimonials-user-reverse{
    width: 100%;
    height: 333px;
    display: flex;
    flex-direction: row-reverse;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

/* Picture of the person giving the testimonial */
.testimonials-user-picture{
    width: 33%; 
    height:auto;
    flex-grow: 1;
}

/* The container that holds the testimonial text */
.testimonials-quote-container{
    width: 75%;
    height: 333px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-grow: 3;
    background-color:#1877E9;;
}

/* The testimonial text */
.testimonials-user-statement{
    margin-top: 133px;
    padding:0% 5%;
    font-size: 1.25rem;
    font-family: "Open Sans","sans-serif";
    color: #fff;
}

/* Person's name giving the testimonial */
.testimonials-user-name-occupation{
    margin-top: 10px;
    font-size: 1rem;
    font-family: "Poppins","sans-serif";
}
/* end - Testimonials Container CSS */
